<div class="col-12 p-0" style="position: relative;">
    <ngx-spinner bdColor="rgba(0,0,0,0.8)" color="#fff" type="timer" size="large" [fullScreen]="false">
        <p style="color: white;margin-top: 30px;">Loading Datas...</p>
        <!--if fullscreen false  Your parent container(div) should have position: relative;  -->
    </ngx-spinner>

    <div class="col-12 p-0">
        <!--/////// speedDial ////////-->
        <!-- <div class="grid tw-relative tw-w-full">        
            <div class="grid tw-fixed  tw-h-screen pl-10 ">
                <div style="position: relative;left: 20; top: calc(50% - 10rem);margin-left: 15px;"  >                  
                   <p-speedDial [model]="speedDialitems" direction="right"  [transitionDelay]="50" showIcon="pi pi-bars" hideIcon="pi pi-times"
                    buttonClassName="p-button-outlined" class="ml-3"></p-speedDial>
                </div>
            </div>
        </div> -->
        <!--/////// speedDial End////////-->
        <div class="col-12">
            <div class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-3 gap-3">
                <div class="flex align-items-center">
                    <!-- <img src="assets/demo/images/avatar/profile.jpg" width="64" alt="profile"
                        class="border-circle border-2 border-primary flex-shrink-0" /> -->
                    <div class="ml-3">
                        
                        <span class="text-4xl font-light">{{title}}{{fname}} {{lname}}</span>
                        <div class="text-color-secondary">
                            <span class="text-black-alpha-90 font-bold mr-2">อายุ :</span>
                            <span class="text-black-alpha-60 font-semibold mr-4">{{age | thaiage}} </span>
                            <span class="text-black-alpha-90 font-bold mr-2">เพศ :</span>
                            <span class="text-black-alpha-60 font-semibold mr-4">{{gender}} </span>
                            <span class="text-black-alpha-90 font-bold mr-2">AN :</span>
                            <span class="text-black-alpha-60 font-semibold mr-4">{{an}} </span>
                            <span class="text-black-alpha-90 font-bold mr-2">HN :</span>
                            <span class="text-black-alpha-60 font-semibold">{{hn}} </span>
                            
                        </div>
                    </div>
                </div>
                <div class="flex align-items-center justify-content-between gap-3 tw-mr-10">
                        <!-- <p-speedDial [model]="items" direction="down" buttonClassName="p-button-success" className="speeddial-left"></p-speedDial> -->
                    <button pButton pRipple icon="pi pi-arrow-left" type="button" label="" pTooltip="ย้อนกลับ" tooltipPosition="top" 
                        class="p-button-danger" (click)="back()" ></button>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="surface-section px-4">
                <div class="font-bold text-2xl text-900 mb-3">ประวัติแรกรับ</div>
                <div class="grid nogutter">
                    <div class="col-12 p-2">
                        <div class="border-top-3 border-blue-600 mb-4"></div>
                        <!-- <div class="text-blue-600 font-medium mb-4">Admit date : {{admit_date}}</div> -->
                        <div class="text-900 font-medium text-xl line-height-3 mb-3 lg:mb-1">CC : {{chief_complaint}}</div>
                        <div class="text-900 font-medium text-xl line-height-3 mb-3 lg:mb-1">PI : {{present_illness}}</div>
                        <div class="text-900 font-medium text-xl line-height-3 mb-3 lg:mb-1">PH : {{past_history}}</div>
                        <div class="text-900 font-medium text-xl line-height-3 mb-3 lg:mb-1">Previous Diagnosis : {{pre_diag}}</div>
                        <div class="text-900 font-medium text-xl line-height-3 mb-3 lg:mb-1">Vital Sign : BT = {{body_temperature}} ํC,  
                            BP = {{systolic_blood_pressure}}/{{diatolic_blood_pressure}}, 
                            PR = {{pulse_rate}}/m, 
                            RR = {{respiratory_rate}}/m, 
                            น้ำหนัก = {{body_weight}}kg, 
                            ส่วนสูง = {{body_height}}cm</div>
                        <div class="text-900 font-medium text-xl line-height-3 mb-1">PE : {{physical_exam}}</div>
                        <div class="flex mt-4">
                            <p-avatar size="large" shape="circle" styleClass="text-base bg-green-100 text-green-900">
                                <i class="fa-solid fa-user-doctor text-3xl"></i>
                            </p-avatar>
                            <div class="ml-2">
                                <div class="text-sm font-bold text-900 mb-1">{{doctor_fname}}&nbsp;{{doctor_lname}}</div>
                                <div class="text-sm flex align-items-center text-700">
                                    <i class="pi pi-calendar mr-1 text-sm"></i>
                                    <span>{{admit_date | thaidate:'short'}} เวลา {{admit_time | thaitime}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="surface-section px-4">
                <div class="font-bold text-2xl text-900 mb-3">ข้อมูลทั่วไป</div>
                <div class="grid nogutter">
                    <div class="col-12 p-2">
                        <div class="border-top-3 border-pink-600 mb-4"></div>
                        <div class="text-900 font-medium text-xl line-height-3 mb-3 lg:mb-1">ชื่อ-สกุล : {{title}}{{fname}} {{lname}}</div>
                        <div class="text-900 font-medium text-xl line-height-3 mb-3 lg:mb-1">อายุ : {{age | thaiage}}</div>
                        <div class="text-900 font-medium text-xl line-height-3 mb-3 lg:mb-1">เพศ : {{gender}}</div>
                        <div class="text-900 font-medium text-xl line-height-3 mb-3 lg:mb-1">เลขบัตรประชาชน : {{cid}}</div>
                        <div class="text-900 font-medium text-xl line-height-3 mb-3 lg:mb-1">สัญชาติ : {{nationality}}</div>
                        <div class="text-900 font-medium text-xl line-height-3 mb-3 lg:mb-1">ศาสนา : {{religion}}</div>
                        <div class="text-900 font-medium text-xl line-height-3 mb-3 lg:mb-1">กรุ๊ปเลือด : {{blood_group}}</div>
                        <div class="text-900 font-medium text-xl line-height-3 mb-3 lg:mb-1">สิทธิการรักษา : {{inscl_name}}</div>
                        <div class="text-900 font-medium text-xl line-height-3 mb-3 lg:mb-1">ที่อยู่ : {{address}}</div>
                        <div class="text-900 font-medium text-xl line-height-3 mb-5 lg:mb-5">อาชีพ : {{occupation}}</div>
                        <div class="text-900 font-medium text-xl line-height-3 mb-3 lg:mb-1">ผู้ติดต่อ : {{reference_person_name}}</div>
                        <div class="text-900 font-medium text-xl line-height-3 mb-3 lg:mb-1">เบอร์โทรผู้ติดต่อ : {{reference_person_phone}}</div>
                        <div class="text-900 font-medium text-xl line-height-3 mb-3 lg:mb-1">ความสัมพันธ์ : {{reference_person_relationship}}</div>
                    </div>  
                </div>
            </div>
        </div>
        
    </div>
</div>
