/* Example CSS to style the buttons */
// ::ng-deep .drawButtonClass {
//     background-color: #4CAF50 !important;
//     border: none;
//     color: white;
//     // padding: 15px 32px;
//     text-align: center;
//     text-decoration: none;
//     display: inline-block;
//     font-size: 16px;
//     margin: 4px 2px;
//     cursor: pointer;
//     border-radius: 12px;
//   }

  .canvas-container {
    position: relative;
  }
  
  .canvas-container button {
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    z-index: 1; /* Ensure buttons appear above canvas */
  }
  

